
body {
    background-color: #2c74da; /* Couleur de fond */
    margin: 0; /* Supprimer les marges par défaut du body */
    padding: 0; /* Supprimer les espacements par défaut du body */
    overflow: hidden; /* Empêcher le défilement */
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Remplir l'intégralité de la vue du port */
}

.joke {
    text-align: justify;
    max-width: 80%; /* Ajuster la largeur du texte */
    margin: 0 auto; /* Centrer horizontalement */
    padding: 20px;
    font-size: 65px;
    color: #fff;
}

.auteur {
    margin-top: 10px;
    margin-left: 50rem;
    color: #fff;
    font-size: 20px;
}

.btn {
    margin-top: 20px;
    background-color: #123ec3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 3rem;
    width: 30rem;
    font-size: 22px;
}
.btn:active{
    transform: scale(.98);
}

.btn i {
    margin-left: 20px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #223c83;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.icon {
    margin-right: 10px;
    font-size: 44px;
}

@media (max-width: 1440px) {

    .main_container {
        height: 100vh;
        padding: 10px;
    }

    .joke {
        padding: 10px;
    }

    p {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    body {
        height: 100vh;
    }
    .main_container {
        height: 80vh;
        padding: 8px;
    }

    .joke {
        padding: 8px;
    }
    .auteur{ 
        font-size: 12px;
        margin-right: 10rem;
        width: 30%;
    }

    p {
        font-size: 16px;
    }
}
@media (max-width: 425px) {
    .main_container {
        margin-left: 8rem;
    }
    .auteur{ 
        /* font-size: 12px;
        margin-right: 5rem;
        width: 30%; */
    }
    #get_joke {
        margin-top: 12rem;
        width: 18rem;
        margin-left: 8rem;
        }
    #joke p{
        text-align: center;
        width: 25rem;
        font-size: 30px;
    }

}